<div id="<%= dom_id news %>">
  <p>
    <strong>Image:</strong>
    <%= news.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= news.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= news.user_id %>
  </p>

</div>
